#authorisation-block {
    display: block; /*ToDo удалить свойство для многопользовательской версии */
}

#controls-block {
    text-align: right;
}

#authorisation-block, #settings-block {
    display: inline-block;
}
